<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ocars</title>
    <link rel="stylesheet" href="/ui.css">
  </head>
  
  <body>
    <header>
      <h2>Book Details</h2>
    </header>
    
    <div class="item">
        <% bookrow.forEach( (row)=> { %>

            <h3><%= row.book_name %></h3>
            <p>written by: <%= row.author  %></p>
            <p>published: <%= row.release_yr  %></p>
            <div>
                <img class="simplecard" src="<%= row.img_path %>">
            </div>

        <% }); %>

        <a href="/" class="cd-btn">back</a>
        
    </div>

</body>
</html>